@import "~bulma";
@import "~bulma-timeline";
.navbar {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}

.gh-username img {
    float: left;
    width: 32px;
    margin: 0 5px 5px 0;
}

#profile-bio {
    margin-top: 10px;
}

.timeline .timeline-item {
    padding-bottom: 1em;
}

.content .repo-name {
    clear: both;
}

@media all and (max-width: 768px){
    .profile-container {
        width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
    .profile-container {
        width: 50%;
    }
}

@media all and (min-width: 1280px) {
    .profile-container {
        width: 30%;
    }
}

